/* App.css */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card {
  background-color: #000;
  width: 250px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

button {

  padding: 10px 20px;
  margin: 5px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  
  background-color: #575757;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  border: 3px solid white;
  position: relative;
}

button:hover{
  background-color: rgb(8, 241, 164);
  
}

.card {
  padding: 2em;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(128, 128, 128);
  border: 5px solid white;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}



.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px green;
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255); /* Sombras que crean el efecto neon */
  margin-bottom: 10px;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.high-count {
  box-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green;
}

.low-count {
  box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px rgb(255, 0, 0);
  animation-direction: reverse; /* Invertir la dirección de la animación */
}

.zero-count{
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite s linear;
  }
}
